{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <h1>Artist</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Twitter</th>
                <th>Albums</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.id }}</td>
                <td>{{ artist.artistName }}</td>
                <td>{{ artist.twitterHandle }}</td>
                <td>{{ artist.getAlbums().count }}</td>
                <td>
                    <a href="{{ path('artist_show', {'id': artist.id}) }}" class="btn btn-lg btn-primary btn-sm">show</a>
                    <a href="{{ path('artist_edit', {'id': artist.id}) }}" class="btn btn-lg btn-success btn-sm">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('artist_new') }}" class="btn btn-lg btn-primary btn-sm">Create new</a>
{% endblock %}
